---
const buttonText = Astro.props.buttonText;
const url = "#";
---

<a
  onClick={(e) => e.preventDefault()}
  href={url}
  class="inline-block px-12 py-3 font-medium text-black bg-white rounded-lg transition hover:bg-gray-200"
>
  {buttonText}
</a>
