---
import Button from "./Button.astro";
import MainTitle from "./Logos/MainTitle.astro";

const { content } = Astro.props;
---

<header
  id="header"
  class="relative flex flex-col items-center justify-end w-auto h-[530px] md:h-screen text-center overflow-hidden pb-15"
>
  <div class="block md:hidden h-[96px]"></div>

  <video
    autoplay
    muted
    loop
    playsinline
    preload="metadata"
    poster={`${import.meta.env.BASE_URL}headerBg.png`}
    class="absolute top-[-20px] md:top[-90px] left-0 w-auto md:w-full h-[465px] md:h-full object-cover"
  >
    <source
      src={`${import.meta.env.BASE_URL}Cuernavaca_video.mp4`}
      type="video/mp4"
    />
  </video>

  <!-- 🧾 Content -->
  <div class="relative z-20 px-10 md:px-6 text-white max-w-[800px]">
    <h1 class="mb-10 mt-12 text-3xl md:text-6xl font-sans  leading-[115%]" set:html={content.subtitle}>
      
    </h1>
  </div>

  <!-- 🔳 Bottom gradient -->
  <div
    class="absolute bottom-0 left-0 w-full h-[250px] md:h-[450px] bg-gradient-to-t from-black via-black/90 via-40% to-transparent z-10"
  >
  </div>
</header>
