---
const { image, name, description } = Astro.props;
const { rating = 3, max = 5 } = Astro.props;
---

<div
  class="p-8 h-full flex flex-col justify-between gap-8 border rounded-4xl bg-[#181818]"
>
  <p class="font-sans text-[#EAEAFD] text-lg leading-7">{description}</p>
  <div class="flex justify-start items-center gap-6">
    <div
      class="overflow-hidden rounded-full border border-[#54545E] w-[60px] h-[60px]"
    >
      <img class="w-full h-auto" src={image} alt={name} />
    </div>
    <div class="flex flex-col gap-1">
      <p class="font-sans text-[#EAEAFD] text-md leading-5">{name}</p>
      <div class="flex gap-1">
        {
          Array.from({ length: max }).map((_, i) => {
            const filled = i < rating;
            return (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class={`w-3 h-3 ${filled ? "text-yellow-400" : "text-transparent stroke-gray-500"}`}
                fill="currentColor"
              >
                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.788 1.402 8.17L12 18.896l-7.336 3.87 1.402-8.17L.132 9.21l8.2-1.192z" />
              </svg>
            );
          })
        }
      </div>
    </div>
  </div>
</div>
