---
import RitualTitle from "./Logos/RitualTitle.astro";
import RitualTitleMobile from "./Logos/RitualTitleMobile.astro";
---

<section
  id="ritual"
  class="bg-none md:bg-[url('./Ritual.png')] bg-cover bg-center relative h-auto md:h-[650px] px-0 py-8 md:py-15 md:px-15 scroll-mt-24 md:scroll-mt-2.5"
>
  <div
    class="hidden md:block absolute w-full top-0 left-0 h-[200px] bg-gradient-to-b from-black/100 to-transparent z-1 via-black/60 via-70%"
  >
  </div>
  <div
    class="xl:max-w-[1130px] w-full mx-auto flex flex-col items-center xl:items-end justify-center h-full z-10 relative"
  >
    <div
      class="w-full xl:w-[550px] text-white flex flex-col items-center justify-between h-full md:h-auto"
    >
      <div class="hidden md:block">
        <RitualTitle />
      </div>
      <div class="block md:hidden">
        <RitualTitleMobile />
      </div>
      <div
        class="bg-[url('./ritualMobile.png')] w-full bg-cover bg-[position:40%_40%] relative h-[275px] py-15 px-15 md:hidden mt-8"
      >
        <div
          class="md:hidden absolute w-full top-0 left-0 h-[20%] bg-gradient-to-b from-black/100 to-transparent z-1 via-black/60 via-70%"
        >
        </div>
        <div
          class="md:hidden absolute w-full bottom-0 left-0 h-[20%] bg-gradient-to-t from-black/100 to-transparent z-1 via-black/70 via-40%"
        >
        </div>
      </div>
      <p
        class="text-md md:text-2xl font-sans text-left md:text-center mt-12 px-10 md:px-0 md:mt-8"
      >
        Certificados en Buenas Prácticas Manufactureras, Destilado 100% Agave
        Azul,<br class="hidden md:block" /> denominación de origen protegida.<br
          class="hidden md:block"
        />
        <strong
          >Cada botella de Cuernavaca es un legado de<br
            class="hidden md:block"
          /> calidad y autenticidad.</strong
        >
      </p>
    </div>
  </div>
  <div
    class="hidden md:block absolute w-full bottom-0 left-0 h-[200px] bg-gradient-to-t from-black/100 to-transparent z-1 via-black/90 via-40%"
  >
  </div>
</section>
