<!-- WhatsApp button (bottom-right) -->
<a
  href="https://wa.me/525532300073"
  target="_blank"
  class="fixed bottom-20 right-10 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition z-50"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      d="M20.52 3.48A11.77 11.77 0 0012 0C5.37 0 0 5.37 0 12c0 2.12.55 4.2 1.6 6.04L0 24l6.2-1.62A11.91 11.91 0 0012 24c6.63 0 12-5.37 12-12 0-3.18-1.23-6.17-3.48-8.52zM12 22c-1.85 0-3.65-.5-5.23-1.45l-.37-.22-3.68.96.98-3.6-.24-.38A9.86 9.86 0 012 12c0-5.5 4.5-10 10-10s10 4.5 10 10-4.5 10-10 10zm5.1-7.9c-.28-.14-1.65-.82-1.91-.91-.26-.1-.45-.14-.64.14-.19.27-.73.91-.9 1.1-.17.19-.34.21-.62.07-.28-.14-1.18-.44-2.24-1.4-.83-.74-1.4-1.65-1.56-1.93-.16-.28-.02-.43.12-.57.13-.13.28-.34.42-.51.14-.17.19-.29.28-.48.09-.19.05-.36-.02-.5-.07-.14-.64-1.55-.88-2.12-.23-.56-.47-.48-.64-.49h-.55c-.19 0-.5.07-.76.36-.26.28-1 1-1 2.45s1.03 2.84 1.18 3.03c.14.19 2.02 3.08 4.9 4.32.69.3 1.23.48 1.65.61.69.22 1.32.19 1.82.12.55-.08 1.65-.67 1.88-1.31.23-.65.23-1.2.16-1.31-.07-.11-.25-.18-.52-.32z"
    ></path>
  </svg>
</a>
